setup_live2d.bat
.env
GSV/**/*
chroma_db/**
__pycache__/**
models/**
workspace/**/*
memory/**/*
history/**/*
conversations/**/*
log/**/*
TODO.md

!GSV/tts_server_ws.bat
!GSV/tts_server_ws.py
!GSV/Install_GSV_here.txt
!memory/PROFILE.md